.nav-wrapper{
	background-color: teal;
}
img{
	margin-top: 30px;
	text-align: center;
}
#row1{
	margin-top: 40px;
}

.parallax-container {
      height: 300px;
}
#codeImage{
	opacity: 0.6
}
#Podsection{
	text-align: center;
	padding: left: 20px;
}
#YTsection{
	text-align: center;
	padding: left: 20px;
}
.podcastImage{
	margin-left: 10px;
}
p{
	text-align: center;
}
h1{
	text-align: center;
}
h2{
	text-align: center;
}
#logo{
	text-align: center;
}
#map {
    height: 500px;
    width: 600px;
    float: left;
    display: inline;
    margin-bottom: 30px;
    margin-left: 70px;
    border: black solid 2px;
}
.searchButton{
	text-align: center;
}
#bootcampList{
	float: left;
	display: inline;
	margin-left: 20px;
	
}
#bootcamps{
	margin-bottom: 50px;
	margin-left: 20px

}
#address{
	margin-left: 20px;
}

footer {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	height: 50px;
	background-color: teal;
	padding-top: 20px;
	text-align: center;
	color: #dddddd;
}
