.nav-wrapper{
	background-color: teal;
}

#row1{
	margin-top: 40px;
}

.parallax-container {
      height: 300px;
}
#codeImage{
	opacity: 0.6
}

#podcastDiv{
	margin-left: 20px;
	float: left;
}
h1{
	text-align: center;
}
h2{
	text-align: center;
}

#map {
    height: 500px;
    width: 600px;
    float: left;
    display: inline;

    margin-left: 30px;
    border: black solid 2px;

}
#bootcampList{
	float: left;
	display: inline;
	margin-left: 20px;
	
}
#bootcamps{
	margin-bottom: 50px;
	margin-left: 20px

}
#address{
	margin-left: 20px;
}
